In [1]:
# This is to avoid error when running Hands-on Lab on third-party tool.
# Unable to connect:  [IBM][CLI Driver] SQL10013N  The specified library "GSKit Error: 207" could not be loaded.  SQLSTATE=42724 SQLCODE=-10013
# source: https://github.com/ibmdb/python-ibmdb/issues/650

# !pip install sqlalchemy==1.3.9
# !pip install ibm_db_sa
# !pip install ipython-sql

In [2]:
%load_ext sql

# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://sbq39922:<PASSWORD>@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

In [3]:
%%sql
select * from petsale

 * ibm_db_sa://sbq39922:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(1, 'Cat                 ', Decimal('450.09'), datetime.date(2018, 5, 29), 9),
 (2, 'Dog                 ', Decimal('666.66'), datetime.date(2018, 6, 1), 3),
 (3, 'Parrot              ', Decimal('50.00'), datetime.date(2018, 6, 4), 2),
 (4, 'Hamster             ', Decimal('60.60'), datetime.date(2018, 6, 11), 6),
 (5, 'Goldfish            ', Decimal('48.48'), datetime.date(2018, 6, 14), 24)]

### Exercise 1

### In this exercise, you will create and execute a stored procedure to read data from a table on Db2 using SQL.

In [10]:
%%sql
--#SET TERMINATOR @
CREATE PROCEDURE RETRIEVE_ALL       -- Name of this stored procedure routine

LANGUAGE SQL                        -- Language used in this routine 
READS SQL DATA                      -- This routine will only read data from the table

DYNAMIC RESULT SETS 1               -- Maximum possible number of result-sets to be returned to the caller query

BEGIN 

    DECLARE C1 CURSOR               -- CURSOR C1 will handle the result-set by retrieving records row by row from the table
    WITH RETURN FOR                 -- This routine will return retrieved records as a result-set to the caller query
    
    SELECT * FROM PETSALE;          -- Query to retrieve all the records from the table
    
    OPEN C1;                        -- Keeping the CURSOR C1 open so that result-set can be returned to the caller query

END
@                                   -- Routine termination character

 * ibm_db_sa://sbq39922:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.
Done.
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "END-OF-STATEMENT" was found following "END @".  Expected tokens may include:  "JOIN <joined_table>".  SQLSTATE=42601 SQLCODE=-104
[SQL: END
@                                   -- Routine termination character]
(Background on this error at: http://sqlalche.me/e/f405)

In [11]:
%%sql
CALL RETRIEVE_ALL;      -- Caller query

 * ibm_db_sa://sbq39922:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[]